# SERVICE_NAME=Thales                         # done
# NODE_ENV=development                        # done
# PORT=3000                                   # done
# SOCKET_IO_PORT=2222                         # done
# DEV_HOST=127.0.0.1                          # done
REALTIME_ROUTER_MONITOR_PORT=3001
REALTIME_ROUTER_MONITOR_USER=admin
REALTIME_ROUTER_MONITOR_PASSWORD=admin
REALTIME_ROUTER_MONITOR_URL=http://127.0.0.1:3001
SERVICE_STATISTICS_GUI_URL=http://127.0.0.1:3000/service-monitor
RESPONSE_METRICS_PORT=9090
RESPONSE_METRICS_ROUTE=response-metrics
RESPONSE_METRICS_URL=http://127.0.0.1:9090/response-metrics
SERVICE_INFO_URL=http://127.0.0.1:3000/info
SERVICE_METRICS_URL=http://127.0.0.1:3000/metrics
SERVICE_STATS_ENDPOINT=http://127.0.0.1:3000/stats
SERVICE_PING_ROUTE=/ping
SERVICE_PING_URL=http://127.0.0.1:3000/ping
# JWT_SECRET=bA2xcjpf8y5aSUFsNB2qN5yymUBSs6es3qHoFpGkec75RCeBb8cpKauGefw5qy4    # done
# JWT_EXPIRATION_MINUTES=15                                                     # done
# MONGO_URI=mongodb://127.0.0.1:27017/thales                                    # done
MONGO_URI_TESTS=mongodb://127.0.0.1:27017/thales
